* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:link, 
a:visited, 
a:active {
    color: inherit;
}

h1, h2 {
    margin: 0;
}

header {
    background-color: #004c56;
    color: #ebebeb;
    padding: 40px;
    text-align: center;
}

nav {
    background-color: #F4841A;
}

article {
    background-color: #ECBD8B;
}

aside {
    background-color: #B0B5B5;
}

footer {
    background-color: #222830;
    color: white;
    padding: 40px;
    text-align: center;
}

#main {
    display: flex;
    flex: 1;
}

.content {
    flex: 70%;
}

.aside {
    flex: 30%;

}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    padding: 8px;
    margin-right: 15px;
}

.navbar a:hover {
    background-color: #B5561C;
    color: #ebebeb;
}

.content, .aside {
    padding: 40px;
}

.foot {
    flex-shrink: 0;
}